%table.table.table-striped.table-hover
  %thead
    %tr
      -# %th= Staff.human_attribute_name(:id)
      %th
        名前
      %th
        性別
      %th 年齢
      %th{:style => "width:5%"}
  %tbody
    - @users.each do |user|
      %tr
        -# %td= user.id
        %td
          = user.name
        %td
          = user.sex
        %td
          = user.age
